<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Membership</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
                
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
        
        <link href="~/Content/stylesheet.css" rel="stylesheet">
        @RenderSection("styles", required: false)
    </head>
    <body>
        <header>          
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            
            <section>
                @RenderBody()
            </section>
        </div>
        <footer>
            
        </footer>
    </body>
    
    <script type="text/javascript" src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
    @RenderSection("scripts", required: false)
</html>
